@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "Member, Locked, Admin")]
@rendermode InteractiveServer

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView Roles = "Member" >
    Hello @context.User.Identity?.Name! You are user. Welcome!
</AuthorizeView>

<AuthorizeView Roles ="Admin">
    Hello @context.User.Identity?.Name! You are an Admin! Congrats!
</AuthorizeView>

<AuthorizeView Roles="Locked">
    Hello @context.User.Identity?.Name! You Locked!
</AuthorizeView>