.collection-container img {
    height: 24rem;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: .5rem;
}

.custom-field {
    box-shadow: rgba(0,0,0,0.19) 0px 10px 20px, rgba(0,0,0,0.23) 0px 6px 6px;
    padding: 0px 0px 0px 0px;
}