@page "/starship-2"
@using System.ComponentModel.DataAnnotations
@inject ILogger<Starship2> Logger

<EditForm Model="@Model" OnValidSubmit="@Submit" FormName="Starship2">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>
        Identifier:
        <InputText @bind-Value="Model!.Id" />
    </label>


    <InputSelect class="form-select" @bind-Value="Model.temp">
        @if (Model.temp is null)
        {
            <option selected value="">None</option>
        }
        @foreach (var t in Model!.temp)
        {
            <option value="@t">@t (ID: @t)</option>
        }
        @if (Model.temp is not null)
        {
            <option value="">None</option>
        }
    </InputSelect>



    <button type="submit">Submit</button>
</EditForm>

@code {
    [SupplyParameterFromForm]
    public Starship? Model { get; set; }

    protected override void OnInitialized() => Model ??= new();

    private void Submit()
    {
        Logger.LogInformation("Id = {Id}", Model?.Id);
        Logger.LogInformation("temp = {temp}", Model?.temp);
    }

    public class Starship
    {
        [Required]
        [StringLength(10, ErrorMessage = "Id is too long.")]
        public string? Id { get; set; }
        public List<string> temp = [ "you", "How", "hey"];
    }
}