@page "/Account/InvalidPasswordReset"
@inject IStringLocalizer<Resource> localizer

<PageTitle>@localizer["Invalid password reset"]</PageTitle>

<h1>@localizer["Invalid password reset"]</h1>
<p>
    @localizer["The password reset link is invalid."]
</p>
