@page "/Account/Lockout"
@inject IStringLocalizer<Resource> localizer

<PageTitle>@localizer["Blocked"]</PageTitle>

<header>
    <h1 class="text-danger">@localizer["Blocked"]</h1>
    <p class="text-danger">@localizer["This account has been blocked."]</p>
</header>
