@page "/Account/ResetPasswordConfirmation"
@inject IStringLocalizer<Resource> localizer

<PageTitle>@localizer["Reset password confirmation"]</PageTitle>

<h1>@localizer["Reset password confirmation"]</h1>
<p>
    @localizer["Your password has been reset. Please"] <a href="Account/Login">@localizer["click here to log in"]</a>.
</p>
