@inject NavigationManager Navigation
@inject IStringLocalizer<Resource> localizer

<script src=" https://cdn.jsdelivr.net/npm/flag-icon-css@4.1.7/svgo.config.min.js "></script>

<div class="d-flex text-nowrap gap-1 align-items-center">
    @if (Culture.Name == "en-US")
    {
        <span class="col-1 flag-icon flag-icon-us flag-icon-squared"></span>
    }
    else if (Culture.Name == "de-CH")
    {
        <span class="col-1 flag-icon flag-icon-de flag-icon-squared"></span>
    }
    <select @bind="Culture" class="flex-fill col-md-auto form-select form-select-sm culture-select" style="width: auto;" aria-label="Default select example">
        <option class="options-culture" value="en-US">@localizer["English"]</option>
        <option class="options-culture" value="de-CH">@localizer["German"]</option>
    </select>
</div>

@code {
    protected override void OnInitialized()
    {
        Culture = CultureInfo.CurrentCulture;
    }

    private CultureInfo Culture
    {
        get
        {
            return CultureInfo.CurrentCulture;
        }
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var uri = new Uri(Navigation.Uri).GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
                var cultureEscaped = Uri.EscapeDataString(value.Name);
                var uriEscaped = Uri.EscapeDataString(uri);

                Navigation.NavigateTo($"Culture/Set?culture={cultureEscaped}&redirectUri={uriEscaped}", true);
            }
        }

    }
}
