/*.footerStyle {
    background-image: linear-gradient(0deg, #d1d1d1, #ffffff);
}

.footerStyle a {
    color: black;
}

    .footerStyle img {
        color: black;
    }

    .footerStyle .bi-youtube:hover {
        color: #ff0000;
    }

    .footerStyle .bi-telegram:hover {
        color: #3ba8e3;
    }

    .footerStyle .bi-linkedin:hover {
        color: #0076b5;
    }

    .footerStyle .bi-github:hover {
        color: black;
        text-shadow: 1px 1px 2px #35186ec6;
    }



.footerStyle a:hover {
    text-shadow: 1px 1px 2px #9c9c9c;
}

.footerStyle .bi {
    font-size: 1.5rem;
    padding-inline-start: 0.5rem
}
*/