<div class="p-3 footerStyle" data-bs-theme="dark">
    <div class="container-xxl">
        <div class="row row-cols-1 row-cols-md-3 text-center align-items-center">
            <div class="col">
                <div class="row">
                    <div class="col-12">
                        <span class="me-1">Built By:</span>
                        <img src="/stack.svg" height="30" /> 
                    </div>
                    <div class="col-12">
                        &copy; 2024 Ivan Girsov
                    </div> 
                </div>
            </div>
            <div class="col text-center">
                <img src="/stack.svg" height="50" />
                <div class="d-flex align-items-center justify-content-center flex-wrap gap-1">
                    Powered by Blazor
                    <img src="/favicon.png" height="20" />
                </div>
            </div>
            <div class="col text-md-end">
                <div class="row">
                    <div class="col-12">
                        <a href="#"><i class="bg bi-youtube"></i></a>
                        <a href="#"><i class="bg bi-telegram"></i></a>
                        <a href="#"><i class="bg bi-github"></i></a>
                        <a href="#"><i class="bg bi-linkedin"></i></a>
                    </div>
                    <div class="col-12">
                        <a href="#">Blog</a>
                        &bull;
                        <a href="#">Portfolio</a>
                        &bull;
                        <a href="#">Bug Tracker</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
