.footerStyle {
    /*background-color: lightgray;*/
    background-image: linear-gradient(0deg, #d1d1d1, #ffffff);
    color: #303030;
}

.footerStyle a {
    color: black;
}

    .footerStyle img {
        color: black;
    }

    .footerStyle a:hover {
        color: #303030;
        background-color: black;
    }

.footerStyle .bi {
    font-size: 1.5rem;
    padding-inline-start: 0.5rem
}
