@inject NavigationManager Navigation
@inject IStringLocalizer<Resource> localizer
@inject IHttpContextAccessor _HttpContextAccessor

<div class="d-flex row-cols-3 text-nowrap align-items-center">

    <span><i class="bi bi-brightness-high-fill"></i></span>
    <span class="form-check form-switch align-items-center m-0">
        <input @bind="Style"
               class="active-element form-check-input"
               type="checkbox"
               role="switch" id="flexSwitchCheckDefault">
    </span>
    <span><i class="bi bi-moon-stars-fill"></i></span>
</div>

@code {
    private bool style = false;

    protected override void OnInitialized()
    {
        if (_HttpContextAccessor.HttpContext is not null)
        {
            style = bool.Parse(_HttpContextAccessor
                .HttpContext?.Request.Cookies["style"] ?? "false");
        }
    }

    public bool Style
    {
        get { return style; }
        set
        {
            style = value;
            var uriEscaped = new Uri(Navigation.Uri).GetComponents(
                    UriComponents.PathAndQuery, UriFormat.Unescaped);
            Navigation.NavigateTo(
                $"/style?style={style.ToString()}&redirectUri={uriEscaped}",
                true);
        }
    }
}
