@inherits LayoutComponentBase
@layout AccountLayout

<div>
    <h2 class="text-center pb-2">Account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-6 text-center">
            @Body
        </div>
    </div>
</div>
