@inject IStringLocalizer<Resource> localizer

<ul class="navbar-nav flex-column navStyle">
    <li class="nav-item">
        <NavLink class="nav-link p-2"
                 href="Account/Manage"
                 Match="NavLinkMatch.All">
            @localizer["Profile"]
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link p-2"
                 href="Account/Manage/ChangePassword">
            @localizer["Password"]
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link p-2"
                 href="Account/Manage/PersonalData">
            @localizer["Personal data"]
        </NavLink>
    </li>
</ul>