<ul class="navbar-nav flex-column navStyle">
    <li class="nav-item">
        <NavLink class="nav-link p-2" href="Account/Manage" Match="NavLinkMatch.All">Profile</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link p-2" href="Account/Manage/ChangePassword">Password</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link p-2" href="Account/Manage/PersonalData">Personal data</NavLink>
    </li>
</ul>