@inject IStringLocalizer<Resource> localizer

@if (Comment is not null)
{
    <div class="card main-card h-100 fade-in collection-card-shadow"
         style="width: 90%;">
        <div class="card-body">
            <h5 class="card-title">@Comment.ApplicationUser.FullName</h5>
            <p class="card-text">
                <small>
                    @Comment.CreationDateTime.ToLocalTime()
                </small>
            </p>
            <p class="card-text">@Comment.Text</p>
        </div>
    </div>
}
else
{
    <div class="card main-card h-100 w-75">
        <img class="card-img-top" alt="Collection Item"
             src="https://cdn.freecodecamp.org/platform/universal/fcc_primary.svg" />
        <div class="card-body">
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-6"></span>
            </h5>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-8"></span>
            </p>
        </div>
        <div class="card-footer text-end">
            <button class="btn btn-primary disabled placeholder col-6">
                @localizer["Details"]
            </button>
        </div>
    </div>
}

@code {
    [Parameter]
    public Comment? Comment { get; set; }
}
