.card-container {
    border-radius: .5rem;
}

    .card-container img {
        height: 18rem;
        object-fit: cover;
        border-radius: .3rem;
        filter: blur(3px);
        -webkit-filter: blur(3px);
        padding: 3px 3px 3px 3px;
    }

.bg-text {
    font-weight: bold;
    text-align: center;
}

.card-img-text {
    text-shadow: 1px 1px #000000;
}