<div class="h-100 w-100 d-flex align-items-center justify-content-center">
    <div>
        <p>
            Welcome to the collections website!
        </p>
        <p>Here you can enjoy your digital collection, levae comments, collect expressions and likes.</p>
        <p>Moreover, on the Collections website you have access to many collections from all around the planet</p>
    </div>
</div>