@inject IJSRuntime JsRuntime
@rendermode InteractiveServer

<div class="h-100 w-auto d-flex align-items-center justify-content-center">
    <div class="start-opacity" @ref="InputToFade" type="text"
         role="button" id="world-cloud"></div>
</div>
